.App{
  width: calc(100vw);
  height: calc(100vh);
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
.app-head{
  height: 10%;
  display: flex;
  font-size: 1.3em;
  /* font-weight: 700; */
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.app-body{
  height: 90%;
  background-color: blue;
}
.user-inp{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}
.user-inp>div{
  height: auto;
}
.user-inp>div>form>input{
  padding: 10px 20px;
  /* height: 40px; */
}
.user-inp>div>form>button{
  height: 40px;
}
.data-container{
  display: flex;
  justify-content: center;
  background-color: brown;
}
.data-box{
  margin-top: 50px;
  width: 500px;
  min-width: 280px;
  border: 1px solid white;
}
.data-box>h3{
  text-align: center;
}